@tailwind base;
@tailwind components;
@tailwind utilities;

 .sc::-webkit-scrollbar {
    display: none;
  }
  
  
   /* .sc::-webkit-scrollbar-track {
    background:transparent; 
  }
   
  
  .sc::-webkit-scrollbar-thumb {
     border-radius: 20px;
  border: 4px solid transparent;
  background-color:#888;
  background-clip: content-box; 
  }
  
  
 
 
  .sc::-webkit-scrollbar-button { 
    display:none;
   }

   ::-webkit-scrollbar-button {
    height: 0;
    width: 0
 }  

 */
